@font-face { 
    font-family: abel-regular;
    src: url('../../fonts/Abel-Regular.ttf');
  }
  
  @font-face {
    font-family: roboto-regular;
    src: url('../../fonts/Roboto-Regular.ttf')
  }
  
  @font-face {
    font-family: roboto-bold;
    src: url('../../fonts/Roboto-Bold.ttf')
  }
  
  .home {
    text-align: left;
    background-color: black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: abel-regular;
    font-size: 2.5vmin;
    color: #FCD116
   }
  
  p {
    color: white;
    font-family: abel-regular;
    font-weight: 500;
    font-size: 1.8vmin;
    text-align: left;
  }

  body {
    font-family: roboto-regular;
    color: white;
  } 

  hr {
    color:yellow ;
  }

  .center {
    margin: auto;
    width: 55%;
  }

  ul {
    list-style-type:square;
    text-align: left;
  }