@font-face { 
  font-family: abel-regular;
  src: url('../../fonts/Abel-Regular.ttf');
}

@font-face {
  font-family: roboto-regular;
  src: url('../../fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: roboto-bold;
  src: url('../../fonts/Roboto-Bold.ttf')
}

.App {
  text-align: center;
  background-color: black;
}
