@font-face { 
    font-family: abel-regular;
    src: url('../../fonts/Abel-Regular.ttf');
  }
  
  @font-face {
    font-family: roboto-regular;
    src: url('../../fonts/Roboto-Regular.ttf')
  }
  
  @font-face {
    font-family: roboto-bold;
    src: url('../../fonts/Roboto-Bold.ttf')
  }
  
  .App-header-div {
    text-align: center;
    background-color: black;
  }
  
  .App-logo {
    pointer-events: none;
    max-width:450px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: sticky;
    top: 0;
  }
  
  .App-description {
    color: white;
    font-family: abel-regular;
    font-weight: 500;
    font-size: 2.0vmin;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', serif;
    color: white
   }

  p {
    margin: .2vmin;
  }
  body {
    font-family: roboto-regular;
    color: white;
  } 
  
  .App-intro {
    color: white;
  }